@value makerGreen from '../../common/color.css';
@value makerWhite from '../../common/color.css';

.footer {
  text-align: center;
  background-color: makerGreen;
  color: makerWhite;
}

.copyright {
  margin: 0;
}
