@value mediaQuery from '../../common/size.css';

.maker {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.makerBox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (min-width: mediaQuery) {
  .makerBox {
    flex-direction: row;
  }
}
